/* CSS */


body {
  background: #fff;
  color: #000;
}

.header {
  padding-top: 30pt;
  padding-bottom: 10pt;
}

.desciption {
  padding-top: calc(var(--baseline) * 0.75);
  padding-bottom: calc(var(--baseline) * 0.25);
  margin-bottom: var(--baseline);
}

@media screen and (max-width: 600px) {
  .header {
    order: -2;
  }
  .description {
    order: -1;
  }
 .thesis {
    order: 1;
  }
}

span.block {
  display: none;
}